<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Debug-only: deep links and explicit actions for local / adb testing (not in release). -->
    <application>
        <activity
            android:name="com.kali.nethunter.mcpchat.MainActivity"
            android:launchMode="singleTop"
            tools:node="merge">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="debug"
                    android:pathPrefix="/"
                    android:scheme="mcpchat" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.kali.nethunter.mcpchat.debug.COMMAND" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
